body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-image: (url('./Pic/lake.jpg'));
  //background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.background {
  width: 328px;
  height: 130px;
  margin: 30px;
  background-color: #0c23f59a;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}

.catch-input {
  width: 55px;
  height: 20px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  text-align: center;
}
.text{
  font-weight: bold;
  font-style: italic;
  margin: 5px;
}
.flex {
  display: flex;
  justify-content: center;
}
.line {
  margin-top: -5px;
  display: flex;
  justify-content: center;
}

.delete-button{
  width: 100px;
  height: 30px;
  background-color: red;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
  float: left;
  margin-left: 35px;

  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}
.delete-button:hover {
  background-color: #cf0202fb;
}
.delete-button:active {
  background-color: #9e0202fb;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.edit-button{
  width: 100px;
  height: 30px;
  background-color: rgba(1, 184, 1, 0.993);
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
  float: right;
  margin-right: 35px;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}
.edit-button:hover {
  background-color: rgb(3, 155, 3);
}
.edit-button:active {
  background-color: rgb(3, 114, 3);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.addCatch-button {
  width: 64px;
  height: 30px;
  background-color: rgba(4, 4, 255, 0.993);
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 2px;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}
.addCatch-button:hover {
  background-color: rgba(3, 3, 184, 0.993);
}
.addCatch-button:active {
  background-color: rgba(1, 1, 139, 0.993);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.addParticipants-button {
  width: 150px;
  height: 30px;
  background-color: rgba(4, 4, 255, 0.993);
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-left: 85px;
  margin-top: 10px;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}
.addParticipants-button:hover {
  background-color: rgba(3, 3, 184, 0.993);
}
.addParticipants-button:active {
  background-color: rgba(1, 1, 139, 0.993);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.participantsInput {
  float: right;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  padding: 2px;
  text-align: center;
}
.participantsText {
  float: left;
  display: contents;
  font-weight: bold;
  font-style: italic;
}
.registrationBoard {
  margin: 30px 40px 30px 40px;
  width:310px;
}
.window {
  width: 350px;
  height: 200px;

}