body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: (url('./Pic/lake.jpg'));
  background-attachment: fixed;
  background-position: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
	text-align: center;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 30px;
  color: #ffffff;
	text-shadow: 2px 2px 2px #333;
  background-image: linear-gradient( 135deg, #0509ffab 10%, #08edfdb0 100%);
	
}

h1 {
    font-size: 75px;
    margin-bottom: 20px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
    font-style: italic;
}

.main-button {
    width: 200px;
    height: 50px;
    background-color: rgba(4, 4, 255, 0.993);
    border: solid 1px rgba(0, 0, 0, 0.322);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    margin-top: 10px;
    outline: none;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  }
  .main-button:hover {
    background-color: rgba(3, 3, 184, 0.863);
  }
  .main-button:active {
    background-color: rgba(1, 1, 139, 0.993);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
    transform: translateY(4px);
  }

.background {
  display: inline-block;
  width: 328px;
  height: 130px;
  margin: 30px;
  background-color: #0c23f59a;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}

.catch-input {
  width: 55px;
  height: 20px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  text-align: center;
}
.text{
  font-weight: bold;
  font-style: italic;
  margin: 5px;
}
.flex {
  display: flex;
  justify-content: center;
}
.line {
  margin-top: -5px;
  display: flex;
  justify-content: center;
}
.save-cancel-button{
  width: 100px;
  height: 30px;
  background-color: rgba(1, 184, 1, 0.993);
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
  float: left;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}

.save-cancel-button:hover {
  background-color: rgb(3, 155, 3);
}
.save-cancel-button:active {
  background-color: rgb(3, 114, 3);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.delete-button{
  width: 100px;
  height: 30px;
  background-color: red;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
  float: left;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}

.delete-button:hover {
  background-color: #cf0202fb;
}
.delete-button:active {
  background-color: #9e0202fb;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.edit-button{
  width: 100px;
  height: 30px;
  background-color: rgba(1, 184, 1, 0.993);
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;

  margin-left: 114px;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}
.edit-button:hover {
  background-color: rgb(3, 155, 3);
}
.edit-button:active {
  background-color: rgb(3, 114, 3);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.addCatch-button {
  width: 100px;
  height: 30px;
  background-color: rgba(4, 4, 255, 0.993);
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-left: 35px;
  margin-top: 5px;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}
.addCatch-button:hover {
  background-color: rgba(3, 3, 184, 0.993);
}
.addCatch-button:active {
  background-color: rgba(1, 1, 139, 0.993);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.addParticipants-button {
  width: 150px;
  height: 30px;
  background-color: rgba(4, 4, 255, 0.993);
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  margin-left: 85px;
  margin-top: 10px;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
}
.addParticipants-button:hover {
  background-color: rgba(3, 3, 184, 0.993);
}
.addParticipants-button:active {
  background-color: rgba(1, 1, 139, 0.993);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  transform: translateY(4px);
}

.participantsInput {
  float: right;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  padding: 2px;
  text-align: center;
}
.participantsText {
  float: left;
  display: contents;
  font-weight: bold;
  font-style: italic;
}
.registrationBoard {
  margin: 30px 40px 30px 40px;
  width: 310px;
  position: relative;
  left: calc(50% - 218px);
  background-color: rgba(128, 128, 128, 0.795);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.window {
  width: 405px;
  height: 115px;
  background-color: #33f50c;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  padding: 15px;
  position: fixed;
  left: calc(50% - 218px);
}
.cards-div {
  position: absolute;
}
.window-buttons {
  display: flex;
  flex-direction: column;
  margin-top: -105px;
  margin-left: 296px;
}
.windNameInput {
  width: 150px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 48px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  text-align: center
}
.windSurnameInput {
  width: 150px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 26px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  text-align: center
}
.windFishingClubInput {
  width: 150px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.479);
  text-align: center
}
